@charset "UTF-8";
/*!
 * Main File Style Css for Website Peoject
 */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
  background: #f8f9ff;
}
body {
    padding-top: 40px;
    position: relative;
  }

  /* Sections */
  main{
    background: rgb(208 218 225 / 43%);
    /* border-bottom: 2px rgb(0 137 203) solid ; */
  }

  .section{
    padding: 90px 0px;
  }
  .section h1{
    color: rgb(0 137 203);
  }

  .sectionMain{
    padding: 100px;
  }

  /* Footer */
  footer{
    background: rgba(241, 244, 255, 0.534);
    padding: 15px 0px 1px 0px; 
    color: rgb(0 137 203);
    border-top: 2px solid rgb(0 137 203);
  }


  .about-text p {
    text-align: justify;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


.cover-bg{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.seperate{
  height: 2rem;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;  
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 8%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.imageTable{
  max-width: 240px;
}

/* Bootstrap Edit styles */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px rgb(0 137 203) solid ;
  }

  .navbar-light .navbar-brand {
    color: rgb(0 137 203);
  }

  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    background-color: rgba(0, 170, 255, 0.55);
  }

  .nav-item:hover{
    background-color: rgb(120 211 255 / 55%) !important;
    }


  .navbar-collapse {
    flex-grow: 0
  }


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background: rgb(120 211 255 / 55%);
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-caption{
  background-color: #00000029;
    padding: 10px;
}