{% extends 'base.html' %}
{% block body %}

<main>
    <div class="p-5 container text-center">
    <h1 class="fw-bolder text-primary">Our Doctors</h1>
    <div class="p-3"></div>
        <div class="row">
            {% for doctor in DoctorsData %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3 p-3">
                    <div class="card">
                        <img src="{{ url_for('static', filename='img/slider/slider2.jpg') }}" class="card-img-top" alt="Card title">
                        <div class="card-body">
                            <h5 class="card-title">{{doctor[1]}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{doctor[6]}}</li>
                            <li class="list-group-item">{{doctor[5]}}</li>
                            <li class="list-group-item">{{doctor[2]}}</li>
                            <li class="list-group-item">{{doctor[4]}}</li>
                        </ul>
                        <div class="card-body">
                            <a href="/Appointment" class="btn btn-primary card-link">Book Appointment with him!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>


</main>


{% endblock %}