{% extends 'base.html' %}
{% block body %}

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for slide in sliderImg %}
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ loop.index - 1 }}" 
       
      {% if loop.first %}
      class="active" aria-current="true"
      {% endif %}
      aria-label="{{ slide[2] }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for slide in sliderImg %}
        <div class="carousel-item 
        {% if loop.first %}
        active
        {% endif %}
        "> 
          <img src="{{slide[1]}}" alt="{{slide[2]}}">
          <div class="container">
            <div class="carousel-caption 
            {% if loop.index % 3 == 0 %}
            text-end
            {% elif loop.index % 3 == 1 %}
            text-start
            {% else %}
            text-center
            {% endif %}
            ">
              <h1>{{slide[2]}}</h1>
              <p>{{slide[3]}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>

<div class="seperate"></div>

<main class="cover-bg" style="background: url({{ url_for('static', filename='img/background1.png') }});">
  <div class="container text-start">
    <div class="row">
      <div class="sectionMain col-md-8">
        <h1><span class="fw-bolder text-primary text-uppercase">{{session.title}}</span></h1>
        <figure>
          <blockquote class="blockquote">
            <p>“Every tooth in a man's head is more valuable than a diamond.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Said by <cite title="Source Title">Miguel de Cervantes</cite>
          </figcaption>
        </figure>
      </div>
      <img src="{{ url_for('static', filename='img/teeth.gif') }}" alt="teeth1" class="img-fluid col-md-4">
    </div>
  </div>
</main>

<div class="seperate"></div>

<main class="cover-bg" style="background: url({{ url_for('static', filename='img/background1-svg.png') }});">
  <div class="container text-end">
    <div class="row">
      <img src="{{ url_for('static', filename='img/teeth1.gif') }}" class="img-fluid col-md-4">
      <div class="sectionMain col-md-8">
        <h1 class="text-dark text-uppercase">Why Choose to {{session.title}}?</h1>
        <ul class="lead text-start list-group">
           <li class="list-group-item-action list p-1 list-unstyled"><i class="bi bi-caret-right-fill"></i>Extensive range of dental treatments</li>
           <li class="list-group-item-action list p-1 list-unstyled"><i class="bi bi-caret-right-fill"></i>We will give you a clear and transparent breakdown of your treatment plan</li>
           <li class="list-group-item-action list p-1 list-unstyled"><i class="bi bi-caret-right-fill"></i>Early morning and late evening appointments (8am-8pm Mon-Thurs, 8am-5.30pm Fridays, every second Saturday)</li>
          <li class="list-group-item-action list p-1 list-unstyled"><i class="bi bi-caret-right-fill"></i>Sedation for nervous patients</li>
        </ul>
      </div>
    </div>
  </div>
</main>

<div class="seperate"></div>

<main class="p-5 cover-bg" style="background: url({{ url_for('static', filename='img/testimonial-bg.webp') }});">
  <div class="p-5 container text-center">
    <h1 class="fw-bolder text-primary text-uppercase">What Patients Are Saying</h1>
    <i class="bi bi-chat-square-quote fs-2"></i>
    <figure>
      <blockquote class="lead fw-bolder blockquote">
        <p>“The front office people are all really nice. I have been a patient for years now. I love seeing everyone, we always share a few stories and some laughs. It always feels like running into a great friend and catching up.”</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Antoin</cite>
      </figcaption>
    </figure>
  </div>
</main>

<div class="seperate"></div>

<main class="cover-bg" style="background: url({{ url_for('static', filename='img/background1.svg') }});" id="services">  
  <div class="p-5 container text-center">
    <h1 class="fw-bolder text-dark text-uppercase">TREATMENTS AND SERVICES</h1>
    <div class="p-3"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for treat in TreatData %}
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='img/slider/slider2.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{treat[1]}}</h5>
            <p class="card-text">{{treat[4]}} dscription dscript iondscr iptiondsc ripti ondscr iptio ndsc ription</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">${{treat[2]}}</li>
            <li class="list-group-item">{{treat[3]}} Weeks</li>
          </ul>
          <div class="card-body">
            <style>
              book[disabled] {
                pointer-events: none;
            }
            </style>
            <a href="/Appointment" class="book text-center card-link">Book an Appointment</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

<div class="seperate"></div>

<main class="cover-bg" style="background: url({{ url_for('static', filename='img/background.svg') }});">
  <div class="container">
    <div class="row">
      {% if not session.username %}
      <form id="login" action="/" method="post" class="mt-4 mt-sm-1 col-md-6 p-sm-5 needs-validation">
        <h2 class="fw-bolder text-primary text-uppercase">Login</h2>
        <div class="form-group">
          <label for="Email1" class="form-label">Email address</label>
          <input name="email" id="email" type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input id="password" name="password" type="password" class="form-control" id="Password" aria-describedby="passwordHelpInline" placeholder="Password" required>
          <span id="passwordHelpInline" class="form-text">
            Must be 8-20 characters long.
          </span>
        </div>
        <div class="p-1"></div>
        <button class="btn btn-primary" type="submit">Sign In</button>
        <small class="form-text text-muted"><a href="/register">Dont't have an account?</a></small>
        <p class="text-center {{registered}}">{{ msg }}</p>
      </form>
      {% endif %}
      <div class="mt-4 
      {% if session.username %}
      text-center col-md-12
      {% else %}
      col-md-6
      {% endif %}
      mt-sm-1 p-sm-5 mb-4 mb-sm-1">
        <h2 class="fw-bolder text-primary text-uppercase">Contact Us</h2>
        <p>
            <span class="fw-bolder">Mobile:</span><br/>
            {{session.phone}}
            <br/> <br/>

            <span class="fw-bolder">Address:</span><br/>
            {{session.address}}<br /><br />
            
            <span class="fw-bolder">Email:</span><br />
            <a href="mailto:{{email}}">{{session.email}}</a>
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
